# Dependencias
node_modules/

# Build
build/
dist/

# Archivos de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de Vite
.vite/

# Salida de coverage
coverage/

# Archivos temporales de VSCode
.vscode/

# Otros
*.local
*.cache 